# API key is only used when the origin is undefined (e.g. mobile apps, browser address bar, etc.)
API_KEY="your_long_long_string_here"

# These are ignored when running as a Cloudflare worker
PORT=500
SSL_CERT_LOCATION="/your-path-to/cert.pem"
SSL_PUBLIC_KEY_LOCATION="/your-path-to/cert-key.pem"

# Not significant when running as a Cloudflare worker
LOGFILE="./skycors-log.txt"

# an * indicates all origins are allowed (wildcard)
# separate multiple origins with commas
# This is ignored for local development environment, it will be assumed to be *
ALLOWED_ORIGINS="https://sample.com,https://www.sample.com"